GAPI_SERVICE_ACCOUNT_JWT="replace_with_path_to_google_json_credentials"
SUPPORT_RESOURCES="replace_with_link_to_support_process_documentation"

# Used by `set-devops-weekend-schedule`
# For lookup of DevOps agent Github and Splunk On-Call usernames
DEVOPS_AGENT_DEFINITIONS_SPREADSHEET_ID="replace_with_google_spreadsheet_id"
DEVOPS_AGENT_DEFINITIONS_SHEET_NAME="replace_with_google_sheet_name"
DEVOPS_AGENT_DEFINITIONS_HANDLE_COLUMN="A"
DEVOPS_AGENT_DEFINITIONS_EMAIL_COLUMN="B"
DEVOPS_AGENT_DEFINITIONS_START_ROW="2"

# For setting victorops schedule
VO_API_ID = "victorops_api_id"
VO_API_KEY = "victorops_api_key"

# Used by `beautify-schedule` 
# For swapping teamwork handles with Zulip handles
ZULIP_EMAIL = "scheduler_bot_email_address"
ZULIP_API_KEY = "scheduler_bot_api_key"
ZULIP_ORG_URL = "https://balena.zulipchat.com"
